<!DOCTYPE html >
<html lang="en" ng-app="KennaraApp">
    <head>
        <meta charset="utf-8" />
        <title>Lectures</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - LectureApp</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.1.4/angular-resource.js"></script>
    <script src="Scripts/App.js"></script>
	<script src="Scripts/IndexController.js"></script>
	@*<script src="Scripts/RoomController.js"></script>
	<script src="Scripts/LoginController.js"></script>
	*@
    </body>
</html>	